.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 357px;
  margin: 298px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -594px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  background-image: none;
  box-shadow: 0px 0px 36px 6px rgba(173,204,233,1);
  margin: 30px auto 0;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-3 {
  --progress: 0%;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 338px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -576px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 213px;
    margin-top: 279px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -432px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}